/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff0000, #000000);
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Adjust logo size */
header img {
    height: 1em; /* Set height relative to font size */
    vertical-align: middle; /* Align with text vertically */
    margin-right: 10px; /* Add some spacing between logo and text */
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
